@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  font-size: 16px;
  background-color: #121212;
  font-family: 'Roboto Condensed', Arial, sans-serif;
}

.todolist {
  width: 100%;
  max-width: 600px;
}

.todolist header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px;
  background-color: #de3f53;
  color: #fff;
  font-size: 1.3em;
}

.todolist .wrapper-list .list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todolist .wrapper-list .list li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262e4c;
  border-bottom: 1px solid #1c2340;
  padding: 20px;
  color: #b1b2c9;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.todolist .wrapper-list .list li:hover {
  background-color: #323b5c;
}

.todolist .wrapper-list .list li:hover .remove {
  opacity: 1;
}

.todolist .wrapper-list .list li.done .check {
  background-color: #171d37;
}

.todolist .wrapper-list .list li.done .check:after {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 100%;
}

.todolist .wrapper-list .list li.done .task {
  text-decoration: line-through;
}

.todolist .wrapper-list .list li .check {
  position: relative;
  background-color: #404a6e;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.todolist .wrapper-list .list li .check:hover {
  background-color: #171d37;
}

.todolist .wrapper-list .list li .remove {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  outline: none;
  background-color: red;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.todolist .wrapper-list .list li .remove:after {
  content: 'X';
  color: white;
  display: block;
}

.todolist .wrapper-list .list li.removed {
  -webkit-animation: collapseItem 300ms ease;
          animation: collapseItem 300ms ease;
}

@-webkit-keyframes collapseItem {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

@keyframes collapseItem {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

.todolist .wrapper-list .list li.hidden {
  display: none;
}

.todolist footer {
  background-color: #171d37;
}

.todolist footer input {
  background-color: #171d37;
  border: none;
  outline: none;
  width: 90%;
  padding: 20px;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 1.2em;
  color: white;
  caret-color: #75756b;
}

@media (min-width: 0px) and (max-width: 450px) {
  .todolist footer input {
    width: 82%;
  }
}

@media (min-width: 451px) and (max-width: 536px) {
  .todolist footer input {
    width: 87%;
  }
}

.todolist footer button {
  font-size: 1.5em;
  color: white;
  background-color: #171d37;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.todolist footer button:hover {
  color: #de3f53;
}

@media (max-width: 600px) {
  footer input {
    width: 20%;
  }
}
/*# sourceMappingURL=style.css.map */